.MuiContainer-root{
    margin: 53px 0 !important;
    position: relative;
    left: auto;
    top: auto;
    transform: translate(0);
        .css-binzgt{
            margin: 35px 0 !important;
        }
        button{
            width: 10% !important;
            float: right;
        }
}
@media (min-width: 0px){.css-nzinn5-MuiContainer-root {
    max-width: 100% !important;
}}
